<div class="title-container">
    <h1>Sign In</h1>
</div>

<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<%= form_tag("/signin", method: "post") do %>
    <label>Username: </label>
    <input type="text" id="username" name="username"><br>
    <label>Password: </label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Sign In">
<% end %>