<div class="title-container">
    <h1>Build A World</h1>
</div>

<p>Your World is the over-arching setting of your story - and can be as large as an epic multiverse, or as small as a single building. Tell stories at every scale!</p>
<p>You can create multiple worlds if your story spans across many settings, but to start, we suggest going as big as possible, then adding locations within that larger setting later.</p>
<br>
<%= render partial: 'shared/errors', locals: {object: @world} %>
<%= render 'form' %>