<h1>Welcome aboard, <%= @user.username %>!</h1>

<p>
This is your Story Quill, where you can create new characters, stories and even worlds!<br>
If you're brand new to LoreScroll, start by setting up your world. 
</p>

<p><%= link_to "Log Out", signout_path, method: "delete" %></p>