<h1>Stories</h1>

<% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
<% end %>

<% @stories.each do |s| %>
    <p><%= link_to s.title, story_path(s) %><br>
    Drafted by <%= s.user.author_name %> on <%= s.created_at.strftime("%B %e, 20%y") %>
    </p>
<% end %>