@import "bootstrap-sprockets";
@import "bootstrap";

.main-body {
  margin: auto;
  width: 70%;
  padding: 20px;
}

.welcome-desc {
    margin: auto;
    width: 75%;
    padding: 12px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .h1 {
        margin: 0;
    }
}

.content-box {
    box-sizing: border-box;
    width: 100%;
    border: solid darkslategray 2px;
    padding: 5px;
}
