@import "bootstrap-sprockets";
@import "bootstrap";

.main-body {
  margin: auto;
  width: 70%;
  padding: 20px;
}

.welcome-desc {
    margin: auto;
    width: 75%;
    border: 2px solid rgb(0, 0, 0);
    padding: 12px;
  }
  

